html, body{
    height: 100%;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans;
}
.box{
    height: 100%;
    width: 100%;
    min-height: 518px;
    min-width: 1024px;
    overflow: hidden;
    position: absolute;
}
.box .content {
    width: 100%;
/*    z-index: -1;
    position: absolute;*/
    height: 90%;
    overflow: auto;
}
.box .content > div {
  margin: 100px auto;
  width: 50%;
}
.left, .right, .up, .down {
    text-align: center;
}
.left, .right {
    height: 100%;
    width: 10%;
    float: left;
    white-space: nowrap;
}
.vertical {
    height: 99%;
    width: 80%;
    float: left;
}
.up {
    height: 5%;
}
.down {
    height: 5%;
}
.subbox > div {
  position: relative;
  z-index: 5;
}
.left.subbox, .right.subbox {
    width: 100%
}
.left.subbox > div, .right.subbox > div {
    height: 5%;
    width: 100%;
    min-width: 82px;
    min-height: 38px;
}
.left.subbox > div {
    margin: 150% -50%;
    transform: rotate(0.25turn);
    -webkit-transform: rotate(0.25turn);
}
.right.subbox > div {
    margin: 150% 50%;
    transform: rotate(-0.25turn);
    -webkit-transform: rotate(-0.25turn);
}
.info {
    border: 1px solid;
}
